.valentine-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  /* set a mininum width */
  min-width: 100%;

  background-color: #ffffff; /* Light background */
  padding: 20px; /* Add padding to center content */
  border-radius: 20px; /* Optional: add rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Optional: add shadow for depth */
}

.will-you-text {
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #000000;

  line-height: 1.1;
  margin-bottom: 5px;
}

.confirmation-text {
  font-size: 3.2em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #000000;

  line-height: 1.1;
  margin-bottom: 20px;
}

.additional-text {
  font-size: 0.5em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #000000;

  line-height: 1.1;
  margin-bottom: 0px;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  margin-top: 20px; /* Adjust the top margin as needed */
}

.yes-button {
  background-color: #ff00ae;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.no-button {
  background-color: #33333e;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  /* add borer */
  border: none;  
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
  margin-left: 10px;
}

@media (max-width: 768px) {
  /* Media query styles for smaller screens */
  .valentine-container {
    height: auto;
    padding: 10px;
  }

  .will-you-text {
    font-size: 1.2em;
  }

  .confirmation-text {
    font-size: 2em;
  }

  .additional-text {
    font-size: 0.4em;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .yes-button,
  .no-button {
    margin: 5px 0;
  }
}